:root{
  --primary-color: #D1AD37; 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Open Sans', sans-serif;
}
.NavbarItems{
  background-color: white;
  position: fixed;
  height: 80px;
  width: 100vw;
  display:flex;
  align-items:center;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 1000;
}
.ipirei-logo{
  width: 160px;
  align-self: center;
  margin-top: 5px; 
}
.nav-menu{
display:grid;
grid-template-columns: repeat(5,auto);
grid-gap: 30px;
list-style:none;
font-weight: bold; 
}
.nav-links{

  font-size: 1.1rem; 
  text-transform: uppercase;
  text-decoration: none;
  color: #424242; 
}
.trans{
  transition: all 0.5s ease; 
}
.nav-links:hover{
  color: var(--primary-color,#D1AD37); 
  cursor: pointer;
  
}
.nav-links.active{
  color: #000000;
  border-bottom: 2px solid #000000;

}
.nav-links:visited{
  color: #000000;
}
.fa-bars:hover{
 color:pink;
}
.menu-icon{
  display:none;
}


@media screen and (max-width: 980px){
  .NavbarItems{
    position: relative; 
  }

  .nav-menu{
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 100vh; 
    position: absolute; 
    top: 80px;
    left: -100%; 
    opacity: 1; 
    transition: all 0.5 ease-in; 
  }
  .nav-menu.active{
    background: paleturquoise; 
    left: 0; 
    opacity: 1; 
    transition: all 0.5 ease; 
    z-index: 100; 
  }

  .nav-links{
    text-align: center; 
    padding: 2rem; 
    width: 100%; 
    display: table; 

  }
  .nav-links:hover{
    background-color: pink; 
    border-radius: 0; 
  }
  .menu-icon{
    display: block;
    position: fixed;
    right: 35px;
  }
}
.carousel{
  height: 900px;
  background-color: teal;
}
.posts-container{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  padding: 81px;
}
.post{
  font-family:'Open Sans', sans-serif;
  width: 100%;
}
.post-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.post-content{
  padding-top: .5em;
  text-align: justify;
  line-height: 170%;
}
.post-title{
  margin-top: 21px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.content-container{
  
  display: flex;
  width: 100vw;
}
.contact-container{
  padding-top: 80px;
  display: flex;
}
.sidebar{
  display: flex;
  width: 500px;
}
.sidebar-content{
  background-color: #FFEBCD;
  margin-left: 81px;
  margin-top: 81px;
  width: 100%;
  height: 800px;
}
.post-author-indicator{
  padding-right: 5px;
  color: #9F9F9F;
}
.post-date{
  color: #9F9F9F;
  margin-left: .7em;
}
.post-slug{
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
  text-align: justify;
  
  margin-top: 11px;
}
.post-link{
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  color: #323232;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 30px;
  display: flex;
  align-self: flex-end;
}
.post-footer{
  padding-top: 2em;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .7em;
}
.post-icon-container{
  gap: .7em;
  display: flex;
  align-self: center;
}
.post-back-link{
  color: #000000;
  text-decoration: none;
}
.author{
  display: flex;
  font-family:'Open Sans', sans-serif;
  font-size: 1.2em;
}
.footer{
  background-color: #000000;
  height: 303px;
  color:#FFFFFF;
  padding: 37px;
 text-align: center;
 font-family:'Open Sans', sans-serif;
  width: 100%;
}
.footer-copy{
  padding-bottom: 27px;
  font-size: 21px;
}
.socialmedia-bar{
  display: flex;
  flex-wrap: wrap;
  height: 84px;
  justify-content: center;
  gap: 5em;
  width: 100%;
}
.footer-title{
  font-size:17px;
  padding-bottom: 27px;
  margin-top: 27px;
}
.footer-subtitle{
  font-size: 14px;
}
.section-mision-vision{
  background-color: tomato;
  height: 800px;
}
.image-container{

  overflow: hidden;
  display: flex;

}
.image{
  width: 100%;
}